@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

.container_card {
    margin-top: 1em;
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.5s, opacity 0.5s;
}

.btn:active {
    transform: scale(0.9);
}

.btn:hover {
    opacity: 0.8;
}

.btn_add {
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
}

.btn_del {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.btn_more {
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.btn_more a {
    text-decoration: none;
    color: #155724;
}
